.o_oski_grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 90px;
    gap: 8px;
}
.o_oski_grid_edit .o_oski_grid_cell {
    outline: 1px dashed $o-brand-primary;
    cursor: move;
}
.o_oski_widget .card-body { min-height: 0; }
